<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>AlexanderDeveloper</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="shortcut icon" type="image/jpg" href="/img/favicon.jpg">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-nav" href="/">
          <p class="navbar-brand">ALEXANDER Blogs </p>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">

        <li id="about"><a href="/about">ACERCA DE </a></li>
        <li id="contact"><a href="/contact">CONTACTAME </a></li>
      </ul>
    </div>
  </nav>

<body>
  <div class="container">