html{box-sizing:border-box;font-size:16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility;font-display:fallback}
*,:before,:after{-webkit-box-sizing:inherit;box-sizing:inherit}
body,h1,h2,h3,h4,h5,h6,p,ol,ul{margin:0;padding:0;font-weight:400}
ol,ul{list-style:none}
img{max-width:100%;height:auto}
:root {
  --primaryColor: #2969b4;
  --secondaryColor: #27303d;
  --tertiaryColor: #96ccf2;
  --white: #e4f2fb;
  --darkWhite: #dbdbdb;
  --lightBlue: #96ccf2;
  --accent: #388cd8;
  --grey: #57606f;
  --section: 100vh;
  --duration: 500ms;
  --ease: ease-in-out;
  --nav-color: #fff;
  --nav-bg-active: #333;
  --roboto: 'Roboto', Helveltica, Arial, sans-serif;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Hero Section */

#home {
  background: var(--darkWhite);
}

.hero-bg {
background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1B1464, #6F1E51);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1B1464, #6F1E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
  font-family: var(--roboto);
  padding: 8rem 0;
}

.hero-info {
  padding: 30px;
}

.hero-title {
  font-size: 7em;
  padding-bottom: 20px;
}


.hero-tagline {
  font-size: 3em;
  max-width: 900px;
  padding-bottom: 25px;
}

@media (max-width: 768px) {
  .hero-tagline {
    font-size: 1.5em;
    padding-bottom: 20px;
  }

  .hero-title {
    padding-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .hero-title {
    font-size: 2.2em;
  }

  .hero-tagline {
    font-size: 1.2em;
  }
}

.hero-tagline a {
  text-decoration: none;
  color: var(--tertiaryColor);
  -webkit-transition: all var(--duration) var(--ease);
  -o-transition: all var(--duration) var(--ease);
  transition: all var(--duration) var(--ease);
}

.hero-tagline a:hover {
  color: var(--secondaryColor);
}

@media (max-width: 768px) {
  .button {
    padding: 10px;
    margin: 5px;
  }
}

.icon {
  text-decoration: none;
  color: var(--white);
  margin-right: 15px;
  font-size: 2.3em;
  -webkit-transition: all var(--duration) var(--ease);
  -o-transition: all var(--duration) var(--ease);
  transition: all var(--duration) var(--ease);
}

.icon:hover {
  color: var(--secondaryColor);
}

@media (max-width: 768px) {
  .icon {
    font-size: 1.6em;
    margin: 1px 10px;
  }
}

@media (max-width: 425px) {
  .icon {
    margin: 5px;
  }
}

/* Contact Section */

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--white);
}

.contact-container {
  width: 50vw;
  min-width: 290px;
  max-width: 1000px;
  height: 330px;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.53);
  box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.53);
}

.contact-info {
  height: 100%;
  width: 20%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.contact-info a {
  text-decoration: none;
}

.contact-icons {
  color: var(--darkWhite);
  padding: 15px;
  font-size: 1.4em;
}

.contact-icons:hover {
  color: var(--secondaryColor);
}

.form-container {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  width: 100%;
  padding: 20px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .form {
    padding: 20px;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: var(--darkWhite);
  margin: 0 0 5px;
  padding: 10px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: var(--accent);
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  transition: background-color 0.5s ease-in-out;
}

button[type="submit"]:hover {
  background: var(--primaryColor);
  -webkit-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

input:focus,
textarea:focus {
  outline: 0;
  border: 1px solid var(--secondaryColor);
}

::-webkit-input-placeholder {
  color: var(--accent);
  font-size: 1.2em;
}

:-moz-placeholder {
  color: var(--accent);
  font-size: 1.2em;
}

::-moz-placeholder {
  color: var(--accent);
  font-size: 1.2em;
}

:-ms-input-placeholder {
  color: var(--accent);
  font-size: 1.2em;
}


/* Thank You Page */
#thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px;
  width: 100vw;
  height: 100vh;
}

.thank-you {
  height: 300px;
  width: 500px;
  min-width: 300px;
  background: #fff;
  border-radius: 20px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', Helveltica, Arial, sans-serif;
  text-align: center;
  -webkit-box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.53);
  box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.53);
}

.thank-you h1 {
  font-size: 1.7em;
  padding: 10px 0;
  color: var(--accent);
}

.thank-you p {
  margin-bottom: 20px;
}

.thank-you a {
  margin-top: 20px;
  text-decoration: none;
  color: var(--primaryColor);
}
